// typography

html {
    font-size: $font-size-base;
    font-family: $font-family-base;
}

h1 {
    font-size: 3.2em;
    font-weight: 800;
    line-height: $line-height-h1;
    color: $color-font-red;
}

h2 {
    font-size: 1.8em;
    font-weight: 800;
    line-height: $line-height-h2;
    color: $color-font-h2;
}

p {
    font-size: $font-size-paragraph;
    font-family: $font-family-paragraph;
    line-height: $line-height-paragraph;
}


// base style
*,
*:before,
*:after {
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
}

.container {
    width: $width-mobile-container;
    margin: 0 auto;
    @media screen and (min-width: map-get($breakpoints, sm)) {
        width: $width-desktop-container;
        max-width: $max-width-container;
    }
}
