.portfolio {
  margin: 0 auto;
  width: 100%;
  background-color: $bgc-hero;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;

    @media screen and (min-width: map-get($breakpoints, md)) {
      grid-template-columns: repeat(3, 1fr);
    }

    .portfolio__box {
      position: relative;
      margin: auto;
      overflow: hidden;

      .portfolio__img {
        display: block;
        width: 100%;
        height: auto;
        background-position: center;
        opacity: 0.8;
        transition: .3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}