@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto:300,400&display=swap&subset=latin-ext");

$font-family-base: "Montserrat", sans-serif;
$font-family-paragraph: "Roboto", sans-serif;

$font-size-base: 16px;
$font-size-paragraph: 12px;

$font-size-h1: 3.2em;
$font-size-h2: 1.8rem;
$font-size-span: 2.1em;

$font-weight-eBold: 800;

$line-height-h1: 1.1em;
$line-height-h2: 1.2em;
$line-height-paragraph: 1.4em;
$line-height-span: 1.2em;

$margin-right-hero: 10%;

$width-mobile-container: 90%;
$width-desktop-container: 75%;
$max-width-container: 960px;

$color-white: #fef4f8;
$color-font-red: #fe5a5d;
$color-font-h2: #2e3c40;
$color-hamburger: #423a44;
$color-border: #475357;

$bgc-hero: #ecf1f5;
$bgc-contact: #2d3b3f;
$bgc-footer: #232f32;

$border-menu: 1px solid rgba($color-border, 0.2);

$easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);

$breakpoints: (
  xs: 360px,
  sm: 680px,
  md: 1024px,
  lg: 1280px
);
